<!DOCTYPE html>
<html>

<head>
<title>Admin Dashboard</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="admin-container">

<h1>FitBuddy Admin Dashboard</h1>

<div class="table-wrapper">

<table>

<tr>
<th>Name</th>
<th>Age</th>
<th>Weight</th>
<th>Goal</th>
<th>Intensity</th>
</tr>

{% for user in users %}

<tr>
<td>{{ user.name }}</td>
<td>{{ user.age }}</td>
<td>{{ user.weight }}</td>
<td>{{ user.goal }}</td>
<td>{{ user.intensity }}</td>
</tr>

{% endfor %}

</table>

</div>

</div>

</body>
</html>